<!DOCTYPE html>
<html lang="pt-br">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registre</title>
</head>
<body>

    <form method="POST">
        {% csrf_token %}    

        <label for="Login">Digite um login:</label>
        <input type="text" name="username" placeholder="Nome de usuario">

        <label for="Email">Digite um email:</label>
        <input type="email" name="email" placeholder="exemplo@gmail.com">

        <label for="Senha">Digite uma senha:</label>
        <input type="password" name="password" placeholder="Senha">

        <button type="submit" class="entry_button">enviar</button>
    </form>
    
    <p>{{ error }}</p>

</body>
</html>